<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!--Local css dan js semua pake th, @, dan {} dan / untuk single -->
        <link rel="icon" th:href="@{dist/img/favicons/favicon.ico}"/>

        <title>Dashboard Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{dist/css/bootstrap.min.css}" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link th:href="@{dist/css/dashboard.css}" rel="stylesheet"/>
    </head>

    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/dashboard}">
                                    <span data-feather="home"></span>
                                    Dashboard <span class="sr-only"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <span data-feather="edit"></span>
                                    Edit CV <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/lihatCV}">
                                    <span data-feather="file-text"></span>
                                    Lihat CV <span class="sr-only"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <row>
                        <h3>Achievement</h3>
                        <div class="row" style="padding: 10px 0 10px 0">
                            <div class="col-sm-6">
                                <button data-target="#mdlAdd" data-toggle="modal" class="btn btn-default">Add Data</button>
                            </div>
                        </div>
                        <table id="example" class="table table-bordered table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>

                            </thead>
                            <tbody id="tblData">
                                <tr th:each="as,iter : ${achievementData}">
                                    <td th:text="${iter.count}"></td>
                                    <td th:text="${as.name}"></td>
                                    <td>
                                        <button data-target="#mdlEditAch" data-toggle="modal" th:data-getsid="${as.id}" 
                                                th:data-getsname="${as.name}"
                                                th:data-getsemployee="${as.employee.id}"
                                                class="btn btn-warning">Edit</button>
                                        <a th:href="@{/achievementdelete(achid=${as.id})}"><button value="" class="btn btn-danger">Delete</button></a></td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </row>
                    <!--row table organization-->
                    <row>
                        <h4>Education</h4>
                        <div class="row" style="padding: 10px 0 10px 0">
                            <div class="col-sm-6">
                                <button data-target="#mdledu" data-toggle="modal" class="btn btn-default">Add Data</button>
                            </div>
                        </div>
                        <table id="example" class="table table-bordered table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>GPA</th>
                                    <th>University</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tblData">
                                <tr th:each="es,itera : ${educationData}">
                                    <td th:text="${itera.count}"></td>
                                    <td th:text="${es.gpa}"></td>
                                    <td th:text="${es.education.university.name}"></td>
                                    <td>
                                        <!--<a th:href="@{/regiondelete/{id}(id=${as.id})}" data-target="#mdlAdd" data-toggle="modal">Delete</a>-->
                                        <!--<a th:href="@{/regiondelete/{id}(id=${as.id})}">Delete</a>-->
                                        <!--<a th:href="@{/delete/{id}(id=${as.id})}">Edit</a>-->
                                        <button data-target="#mdlEditEdu" data-toggle="modal" th:data-getid="${es.id}" 
                                                th:data-getgpa="${es.gpa}"
                                                th:data-getuniv="${es.education.id}"
                                                class="btn btn-warning">Edit</button>
                                        <a th:href="@{/educationdelete(eduid=${es.id})}"><button value="" class="btn btn-danger">Delete</button></a></td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </row>
                    <row>
                        <h4>Organization</h4>
                        <div class="row" style="padding: 10px 0 10px 0">
                            <div class="col-sm-6">
                                <button data-target="#mdlAddorg" data-toggle="modal" class="btn btn-default">Add Data</button>
                            </div>
                        </div>
                        <table id="example" class="table table-bordered table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Tanggal</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tblData">
                                <tr th:each="os,tr : ${organizationData}">
                                    <td th:text="${tr.count}"></td>
                                    <td th:text="${os.name}"></td>
                                    <td th:text="${os.position}"></td>
                                    <td th:text="${os.period}"></td>
                                    <td>
                                        <button data-target="#mdlEditOrg" data-toggle="modal" th:data-getoid="${os.id}" 
                                                th:data-getoname="${os.name}"
                                                th:data-getoposition="${os.position}"
                                                th:data-getoperiode="${os.period}"
                                                th:data-getoemployee="${os.employee.id}"
                                                class="btn btn-warning">Edit</button>
                                        <a th:href="@{/organizationdelete(orgid=${os.id})}"><button value="" class="btn btn-danger">Delete</button></a></td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </row>

                    <row>
                        <h4>Certificate</h4>
                        <div class="row" style="padding: 10px 0 10px 0">
                            <div class="col-sm-6">
                                <button data-target="#mdlcert" data-toggle="modal" class="btn btn-default">Add Data</button>
                            </div>
                        </div>
                        <table id="example" class="table table-bordered table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Number</th>
                                    <th>Certificate</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tblData">
                                <tr th:each="cs,ite : ${certificateData}">
                                    <td th:text="${ite.count}"></td>
                                    <td th:text="${cs.certificateDate}"></td>
                                    <td th:text="${cs.certificateNumber}"></td>
                                    <td th:text="${cs.certificate.name}"></td>
                                    <td>
                                        <button data-target="#mdlEditcert" data-toggle="modal" th:data-geteid="${cs.id}" 
                                                th:data-getedatecert="${cs.certificateDate}"
                                                th:data-getcertnum="${cs.certificateNumber}"
                                                th:data-getecertificate="${cs.certificate.id}"
                                                th:data-getemployee="${cs.employee.id}"
                                                class="btn btn-warning">Edit</button>
                                        <a th:href="@{/certificatedelete(certid=${cs.id})}"><button value="" class="btn btn-danger">Delete</button></a></td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </row>
                    <row>
                        <h4>Language</h4>
                        <div class="row" style="padding: 10px 0 10px 0;">
                            <div class="col-sm-6">
                                <button data-target="#modalAddlang" data-toggle="modal" class="btn btn-warning">Add Data</button>
                            </div>
                        </div>
                        <table id="emplangTable" class="table table-bordered table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Employee</th>
                                    <th>Language</th>
                                    <th>Score</th>
                                    <th>Active / Passive</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="tblData">
                                <tr th:each="el : ${emplangData}">
                                    <td th:text="${el.id}"></td>
                                    <td th:text="${el.employee.name}"></td>
                                    <td th:text="${el.language.name}"></td>
                                    <td th:text="${el.score}"></td>
                                    <td th:text="${el.isactive}"></td>
                                    <td>
                                        <button data-target="#modalEditlang" data-toggle="modal" th:data-getid="${el.id}"
                                                class="btn btn-outline-info" >
                                            Edit </button>
                                        <button data-target="#modalDeletelang" data-toggle="modal" th:data-getid="${el.id}"
                                                class="btn btn-outline-danger" >
                                            Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </row>
                    <row>
                        <h4>Skill</h4>
                        <div class="row" style="padding: 10px 0 10px 0;">
                            <div class="col-sm-6">
                                <button data-target="#modalAddskill" data-toggle="modal" class="btn btn-warning">Add Data</button>
                            </div>
                        </div>
                        <table id="empskillTable" class="table table-bordered table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <!--<th>Employee</th>-->
                                    <th>Skill</th>
                                    <th>Score</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="tblData">
                                <tr th:each="es : ${empskillData}">
                                    <td th:text="${es.id}"></td>
                                    <!--<td th:text="${es.employee.name}"></td>-->
                                    <td th:text="${es.skill.name}"></td>
                                    <td th:text="${es.score}"></td>
                                    <td>
                                        <button data-target="#modalEditskill" data-toggle="modal" th:data-getid="${es.id}"
                                                class="btn btn-outline-info" >
                                            Edit </button>
                                        <button data-target="#modalDeleteskill" data-toggle="modal" th:data-getid="${es.id}"
                                                class="btn btn-outline-danger" >
                                            Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </row>
                    <row>
                        <h4>Work Experience</h4>
                        <div class="row" style="padding: 10px 0 10px 0;">
                            <div class="col-sm-6">
                                <button data-target="#modalAddwork" data-toggle="modal" class="btn btn-warning">Add Data</button>
                            </div>
                        </div>
                        <table id="workexpTable" class="table table-bordered table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <!--<th>Employee</th>-->
                                    <th>Company</th>
                                    <th>Position</th>
                                    <th>Description</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="tblData">
                                <tr th:each="we : ${workexpData}">
                                    <td th:text="${we.id}"></td>
                                    <!--                                <td th:text="${we.employee.name}"></td>-->
                                    <td th:text="${we.name}"></td>
                                    <td th:text="${we.position}"></td>
                                    <td th:text="${we.description}"></td>
                                    <td th:text="${we.startdate}"></td>
                                    <td th:text="${we.enddate}"></td>
                                    <td>
                                        <button data-target="#modalEditwork" data-toggle="modal" th:data-getid="${we.id}"
                                                class="btn btn-outline-info" >
                                            Edit </button>
                                        <button data-target="#modalDeletework" data-toggle="modal" th:data-getid="${we.id}"
                                                class="btn btn-outline-danger" >
                                            Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </row>

                    <!--modal add data achievement-->
                    <div class="modal fade" id="mdlAdd" tabindex="-1" role="dialog" aria-labelledby="modal-add" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-add">Add Achievement</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/achievementsave}" method="post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="name">Nama</label>
                                            <input id="sid" name="sid" class="form-control" value="99" type="hidden"/>
                                            <input id="sname" name="sname" class="form-control" type="text"/>
                                            <input id="semployee" class="form-control" value="14201" type="hidden"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-default" value="Submit">Save</button>
                                    </div>                          
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end modal add achievement-->
                    <!--modal add data Organization-->
                    <div class="modal fade" id="mdlAddorg" tabindex="-1" role="dialog" aria-labelledby="modal-add" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-add">Add Organization</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/organizationsave}" method="post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="name">Nama</label>
                                            <input id="oname" name="oname" class="form-control" type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="position">Position</label>
                                            <input id="position" name="position" class="form-control" type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="periode">Periode</label>
                                            <input id="periode" name="periode" class="form-control" type="date"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-default" value="Submit">Save</button>
                                    </div>                          
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end modal organization-->
                    <!--modal add data achievement-->
                    <div class="modal fade" id="mdledu" tabindex="-1" role="dialog" aria-labelledby="modal-add" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-add">Add Education</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/educationsave}" method="post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="gpa">GPA</label>
                                            <input id="gpa" name="gpa" type="number" step="0.01" min="0" max="4" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="education">Education</label>
                                            <select name="education" id="education" class="form-control">
                                                <div th:each="data :${dataedu}">
                                                    <option th:value="${data.id}" th:text="${data.university.name}"></option>
                                                </div>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-default" value="Submit">Save</button>
                                    </div>                          
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end modal--> 
                    <!--modal add data Certification-->
                    <div class="modal fade" id="mdlcert" tabindex="-1" role="dialog" aria-labelledby="modal-add" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-add">Add Certicate</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/certificatesave}" method="post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="datecert">Certificate Date</label>
                                            <input id="datecert" name="datecert" class="form-control" type="date"/>
                                            <label for="certnumber">Certificate Number</label>
                                            <input id="certnumber" name="certnumber" type="text" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="certificate">Certificate</label>
                                            <select name="certificate" id="certificate" class="form-control">
                                                <div th:each="datac :${datacert}">
                                                    <option th:value="${datac.id}" th:text="${datac.name}"></option>
                                                </div>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-default" value="Submit">Save</button>
                                    </div>                          
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end modal--> 
                    <!--ini modal untuk edit-->
                    <!--Modal Edit Data-->
                    <div class="modal fade" id="mdlEditEdu" tabindex="-1" role="dialog" aria-labelledby="modal-add" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-add">Edit Education History</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/educationedit}" method="post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input id="ide" name="ide" type="hidden" class="form-control"/>
                                            <label for="gpae">GPA</label>
                                            <input id="gpae" name="gpae" type="number" step="0.01" min="0" max="4" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="educatione">Education</label>
                                            <select name="educatione" id="educatione" class="form-control">
                                                <div th:each="data :${dataedu}">
                                                    <option th:value="${data.id}" th:text="${data.university.name}"></option>
                                                </div>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-default" value="Submit">Save</button>
                                    </div>                          
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.End Content -->
                    <!--modal add data achievement-->
                    <div class="modal fade" id="mdlEditAch" tabindex="-1" role="dialog" aria-labelledby="modal-add" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-add">Add Achievement</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/achievementedit}" method="post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="name">Nama</label>
                                            <input id="sid" name="sid" class="form-control" value="99" type="hidden"/>
                                            <input id="sname" name="sname" class="form-control" type="text"/>
                                            <input id="semployee" name="semployee" class="form-control" value="14201" type="hidden"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-default" value="Submit">Save</button>
                                    </div>                          
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end modal add achievement-->
                    <!--modal add data Organization-->
                    <div class="modal fade" id="mdlEditOrg" tabindex="-1" role="dialog" aria-labelledby="modal-add" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-add">Add Organization</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/organizationedit}" method="post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input id="oid" name="oid" class="form-control" type="hidden"/>
                                            <label for="ooname">Nama</label>
                                            <input id="ooname" name="ooname" class="form-control" type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="oposition">Position</label>
                                            <input id="oposition" name="oposition" class="form-control" type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="operiode">Periode</label>
                                            <input id="operiode" name="operiode" class="form-control" type="date"/>
                                            <input id="oemployee" name="oemployee" class="form-control" type="hidden"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-default" value="Submit">Save</button>
                                    </div>                          
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end modal organization-->
                    <!--modal add data Certification-->
                    <div class="modal fade" id="mdlEditcert" tabindex="-1" role="dialog" aria-labelledby="modal-add" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-add">Add Certicate</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/certificateedit}" method="post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input id="eid" name="eid" class="form-control" type="hidden"/>
                                            <input id="employee" name="employee" class="form-control" type="hidden"/>
                                            <label for="edatecert">Certificate Date</label>
                                            <input id="edatecert" name="edatecert" class="form-control" type="date"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="certnum">Certificate Number</label>
                                            <input id="certnum" name="certnum" type="text" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="ecertificate">Certificate</label>
                                            <select name="ecertificate" id="certificate" class="form-control">
                                                <div th:each="datac :${datacert}">
                                                    <option th:value="${datac.id}" th:text="${datac.name}"></option>
                                                </div>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-default" value="Submit">Save</button>
                                    </div>                          
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end modal-->
                </main>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
                ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!--<script>window.jQuery || document.write('<script src="dist/js/jquery-slim.min.js"><\/script>')</script>-->
        <script th:src="@{dist/js/popper.min.js}"></script>
        <script th:src="@{dist/js/bootstrap.min.js}"></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>
        <script>
            $('#mdlEditEdu').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var ide = button.data('getid');
                var gpae = button.data('getgpa');
                var educatione = button.data('getuniv');

                var modal = $(this);
                modal.find('#ide').val(ide);
                modal.find('#gpae').val(gpae);
                modal.find('#educatione').val(educatione);

            });
        </script>
        <script>
            $('#mdlEditAch').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var sid = button.data('getsid');
                var sname = button.data('getsname');
                var semployee = button.data('getsemployee');

                var modal = $(this);
                modal.find('#sid').val(sid);
                modal.find('#sname').val(sname);
                modal.find('#semployee').val(semployee);

            });
        </script>
        <script>
            $('#mdlEditOrg').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var oid = button.data('getoid');
                var ooname = button.data('getoname');
                var oposition = button.data('getoposition');
                var operiode = button.data('getoperiode');
                var oemployee = button.data('getoemployee');

                var modal = $(this);
                modal.find('#oid').val(oid);
                modal.find('#ooname').val(ooname);
                modal.find('#oposition').val(oposition);
                modal.find('#operiode').val(operiode);
                modal.find('#oemployee').val(oemployee);
            });
        </script>
        <script>
            $('#mdlEditcert').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var eid = button.data('geteid');
                var edatecert = button.data('getedatecert');
                var certnum = button.data('getcertnum');
                var ecertificate = button.data('getecertificate');
                var employee = button.data('getemployee');

                var modal = $(this);
                modal.find('#eid').val(eid);
                modal.find('#edatecert').val(edatecert);
                modal.find('#certnum').val(certnum);
                modal.find('#ecertificate').val(ecertificate);
                modal.find('#employee').val(employee);
            });
        </script>
        <script>
            $('#modalEditlang').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var langid = button.data('getlangid');

                var modal = $(this);
                modal.find('#langid').val(langid);
            });
        </script>
        <script>
            $('#modalEditskill').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var skillid = button.data('getskillid');

                var modal = $(this);
                modal.find('#skillid').val(skillid);
            });
        </script>
        <script>
            $('#modalEditwork').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var workid = button.data('getworkid');

                var modal = $(this);
                modal.find('#workid').val(workid);
            });
        </script>
    </body>
</html>
