<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="icon" th:href="@{dist/img/favicons/favicon.ico}"/>

        <title>Dashboard Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{dist/css/bootstrap.min.css}" rel="stylesheet"/>
        <!--<link href="dist/css/bootstrap.min.css" rel="stylesheet">-->

        <!-- Custom styles for this template -->
        <link th:href="@{dist/css/dashboard.css}" rel="stylesheet"/>
    </head>
    <body>
        <div>TODO write content</div>
    </body>
</html>
