<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="icon" th:href="@{dist/img/favicons/favicon.ico}"/>


        <title>MII Bootcamp Management</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{dist/css/bootstrap.min.css}" rel="stylesheet"/>
        <!--<link href="dist/css/bootstrap.min.css" rel="stylesheet">-->

        <!-- Custom styles for this template -->
        <link th:href="@{dist/css/dashboard.css}" rel="stylesheet"/>

    </head>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/dashboard}">Bootcamp Management</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/logout}">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#subCv" data-toggle="collapse">
                                <span data-feather="file-text"></span>
                                CV <span class="sr-only"></span>
                            </a>
                            <div id="subCv" class="collapse">
                                <ul class="nav-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/cv/cv}">
                                            <span data-feather="edit"></span>
                                            Edit CV <span class="sr-only"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/cv/mycv}">
                                            <span data-feather="file-text"></span>
                                            View CV <span class="sr-only"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <div th:if="${session.istrainer!=null}">
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#subTrainer" data-toggle="collapse">
                                    <span data-feather="user"></span>
                                    Trainer <span class="sr-only"></span>
                                </a>
                                <div id="subTrainer" class="collapse ">
                                    <ul class="nav-item">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/bm/batchclass}">
                                                <span data-feather="grid"></span>
                                                Batch Class <span class="sr-only"></span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/bm/evaluation}">
                                                <span data-feather="check-square"></span>
                                                Evaluation <span class="sr-only"></span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/bm/participant}">
                                                <span data-feather="users"></span>
                                                Participant <span class="sr-only"></span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/bm/report}">
                                                <span data-feather="file-text"></span>
                                                Report <span class="sr-only"></span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/el/Placement}">
                                                <span data-feather="map-pin"></span>
                                                Placement <span class="sr-only"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#subEquipment" data-toggle="collapse">
                                    <span data-feather="key"></span>
                                    Equipment <span class="sr-only"></span>
                                </a>
                                <div id="subEquipment" class="collapse ">
                                    <ul class="nav-item">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/el/Idcard}">
                                                <span data-feather="user"></span>
                                                Id Card <span class="sr-only"></span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/el/Employeeaccess}">
                                                <span data-feather="smartphone"></span>
                                                Employee Access Card <span class="sr-only"></span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/el/Employeelocker}">
                                                <span data-feather="key"></span>
                                                Employee Locker <span class="sr-only"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </div>
                        <div th:if="${session.isadmin!=null}">
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#subAdmin"  data-toggle="collapse">
                                    <span data-feather="key"></span>
                                    Admin <span class="sr-only"></span>
                                </a>
                                <div id="subAdmin" class="collapse ">
                                    <ul class="nav-item">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/employeerole}">
                                                <span data-feather="users"></span>
                                                Employee Role <span class="sr-only"></span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/registration}">
                                                <span data-feather="user-plus"></span>
                                                Registration <span class="sr-only"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </div>
                        <div th:if="${session.isparticipant!=null||session.istrainer!=null}">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/bm/errorbank}">
                                    <span data-feather="clipboard"></span>
                                    ErrorBank <span class="sr-only"></span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Welcome Back :)</h1 >
                    <h3 class="h3" th:text="${employee.name}"></h3 >
                </div>


                <!-- Content -->

                <!-- /.End Content -->
            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--    <script>window.jQuery || document.write('<script th:src="@{dist/js/jquery-slim.min.js}"><\/script>')</script>-->
    <script th:src="@{dist/js/popper.min.js}"></script>
    <script th:src="@{dist/js/bootstrap.min.js}"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

    <script>
        feather.replace();
    </script>
    <script>
        $(function () {
            $('.editModal').click(function ()
            {
                var $row = $(this).closest("tr"), $tds = $row.find("td");
                $('#id').val($row.find('td:eq(0)').text());
                document.getElementById('rid').value = $row.find('td:eq(0)').text();
                document.getElementById('rname').value = $row.find('td:eq(1)').text();
            });
        });
    </script>
    <script  type="text/javascript">
        function setEdit(id, name)
        {
            document.getElementById('rid').value = id;
            document.getElementById('rname').value = name;
        }
    </script>
</body>
</html>
