<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="icon" th:href="@{../dist/img/favicons/favicon.ico}"/>

        <title>MII Bootcamp Management</title>

        <!--JQuery-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <!-- Bootstrap core CSS -->
        <link th:href="@{../dist/css/bootstrap.min.css}" rel="stylesheet"/>
        <!--<link href="dist/css/bootstrap.min.css" rel="stylesheet">-->

        <!-- Custom styles for this template -->
        <link th:href="@{../dist/css/dashboard.css}" rel="stylesheet"/>

        <!--Datatable-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.10.18/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.10.18/datatables.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/dashboard}">MII Bootcamp Management</a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" th:href="@{/logout}">Sign out</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#subCv" data-toggle="collapse">
                                    <span data-feather="file-text"></span>
                                    CV <span class="sr-only"></span>
                                </a>
                                <div id="subCv" class="collapse">
                                    <ul class="nav-nav">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/cv/cv}">
                                                <span data-feather="edit"></span>
                                                Edit CV <span class="sr-only"></span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/cv/mycv}">
                                                <span data-feather="file-text"></span>
                                                View CV <span class="sr-only"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <div th:if="${session.istrainer!=null}">
                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="#subTrainer" data-toggle="collapse">
                                        <span data-feather="user"></span>
                                        Trainer <span class="sr-only"></span>
                                    </a>
                                    <div id="subTrainer" class="collapse ">
                                        <ul class="nav-item">
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/bm/batchclass}">
                                                    <span data-feather="grid"></span>
                                                    Batch Class <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/bm/evaluation}">
                                                    <span data-feather="check-square"></span>
                                                    Evaluation <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/bm/participant}">
                                                    <span data-feather="users"></span>
                                                    Participant <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/bm/report}">
                                                    <span data-feather="file-text"></span>
                                                    Report <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/el/Placement}">
                                                    <span data-feather="map-pin"></span>
                                                    Placement <span class="sr-only"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="#subEquipment" data-toggle="collapse">
                                        <span data-feather="key"></span>
                                        Equipment <span class="sr-only"></span>
                                    </a>
                                    <div id="subEquipment" class="collapse ">
                                        <ul class="nav-item">
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/el/Idcard}">
                                                    <span data-feather="user"></span>
                                                    Id Card <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/el/Employeeaccess}">
                                                    <span data-feather="smartphone"></span>
                                                    Employee Access Card <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/el/Employeelocker}">
                                                    <span data-feather="key"></span>
                                                    Employee Locker <span class="sr-only"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </div>
                            <div th:if="${session.isadmin!=null}">
                                <li class="nav-item">
                                    <a class="nav-link" href="#subAdmin"  data-toggle="collapse">
                                        <span data-feather="key"></span>
                                        Admin <span class="sr-only"></span>
                                    </a>
                                    <div id="subAdmin" class="collapse show">
                                        <ul class="nav-item">
                                            <li class="nav-item">
                                                <a class="nav-link active" th:href="@{#}">
                                                    <span data-feather="users"></span>
                                                    Employee Role <span class="sr-only">(current)</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/registration}">
                                                    <span data-feather="user-plus"></span>
                                                    Registration <span class="sr-only"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </div>
                            <div th:if="${session.isparticipant!=null||session.istrainer!=null}">
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/bm/errorbank}">
                                        <span data-feather="clipboard"></span>
                                        ErrorBank <span class="sr-only"></span>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Employee Role</h1>
                    </div>
                    <div class="row" style="padding: 10px 0 10px 0;">
                        <div class="col-sm-6">
                            <button data-target="#modalAdd" data-toggle="modal" class="btn btn-info">Add Data</button>
                        </div>
                    </div>

                    <!--Show table data-->
                    <table id="emproleTable" class="table table-bordered table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <!--<th>Employee ID</th>-->
                                <th>Employee Name</th>
                                <th>Role</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tblData">
                            <tr th:each="er : ${emproleData}">
                                <td th:text="${er.employee.name}"></td>
                                <td th:text="${er.role.name}"></td>
                                <td th:text="${er.startdate}"></td>
                                <td th:text="${er.enddate}"></td>
                                <td>
                                    <button data-target="#modalAdd" data-toggle="modal" th:data-getid="${er.id}"
                                            th:data-getempid="${er.employee.id}" 
                                            th:data-getroleid="${er.role.id}" 
                                            th:data-getstartdate="${er.startdate}" 
                                            th:data-getenddate="${er.enddate}"
                                            class="btn btn-warning"><span data-feather="edit"></span></button>
                                    <a th:href="@{/deleteEmpRole/{id}(id=${er.id})}"><button value="" class="btn btn-danger">
                                            <span data-feather="trash"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--ENDOF Show table data-->

                    <!--Modal add data-->
                    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modal-add" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-add">Add Role</h5>
                                    <button class="close" data-dismiss="modal" aria-label="close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/emprolesave}" method="post" >
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input id="emproleid" name="emproleid" class="form-control" type="hidden" value=""/>
                                            <label for="name">Name</label>
                                            <select name="empid" id="empid" class="form-control">
                                                <div th:each="data :${empData}">
                                                    <option th:value="${data.id}" th:text="${data.name}"></option>
                                                </div>
                                            </select>
                                            <label for="name">Role</label>
                                            <select name="roleid" id="roleid" class="form-control">
                                                <div th:each="data :${roleData}">
                                                    <option th:value="${data.id}" th:text="${data.name}"></option>
                                                </div>
                                            </select>
                                            <label for="name">Start Date</label>
                                            <input type="date" class="form-control" id="startdate" name="startdate" value=""/>
                                            <label for="name">End Date</label>
                                            <input type="date" class="form-control" id="enddate" name="enddate" value=""/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" value="Submit" class="btn btn-default">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--ENDOF Modal add data-->
                    <!-- /.End Content -->

                </main>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script th:src="@{dist/js/popper.min.js}"></script>
        <script th:src="@{dist/js/bootstrap.min.js}"></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>

        <!--modal scripts letakkan SEBELUM /body-->
        <script>
            $('#modalAdd').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var id = button.data('getid'); // Extract info from data-* attributes
                var empid = button.data('getempid');
                var roleid = button.data('getroleid');
                var startdate = button.data('getstartdate');
                var enddate = button.data('getenddate');
                var modal = $(this);
                modal.find('#emproleid').val(id);
                modal.find('#empid').val(empid);
                modal.find('#roleid').val(roleid);
                modal.find('#startdate').val(startdate);
                modal.find('#enddate').val(enddate);
            });
        </script>
    </body>
</html>
