<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="icon" th:href="@{dist/img/favicons/favicon.ico}"/>

        <title>MII Bootcamp Management</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{dist/css/bootstrap.min.css}" rel="stylesheet"/>
        <!--<link href="dist/css/bootstrap.min.css" rel="stylesheet">-->

        <!-- Custom styles for this template -->
        <link th:href="@{dist/css/dashboard.css}" rel="stylesheet"/>
    </head>

    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/dashboard}">MII Bootcamp Management</a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" th:href="@{/logout}">Sign out</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#subCv" data-toggle="collapse">
                                    <span data-feather="file-text"></span>
                                    CV <span class="sr-only"></span>
                                </a>
                                <div id="subCv" class="collapse">
                                    <ul class="nav-nav">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/cv/cv}">
                                                <span data-feather="edit"></span>
                                                Edit CV <span class="sr-only"></span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/cv/lihatcv}">
                                                <span data-feather="file-text"></span>
                                                View CV <span class="sr-only"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <div th:if="${session.istrainer!=null}">
                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="#subTrainer" data-toggle="collapse">
                                        <span data-feather="user"></span>
                                        Trainer <span class="sr-only"></span>
                                    </a>
                                    <div id="subTrainer" class="collapse ">
                                        <ul class="nav-item">
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/bm/batchclass}">
                                                    <span data-feather="grid"></span>
                                                    Batch Class <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/bm/errorbank}">
                                                    <span data-feather="clipboard"></span>
                                                    ErrorBank <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/bm/evaluation}">
                                                    <span data-feather="check-square"></span>
                                                    Evaluation <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/bm/participant}">
                                                    <span data-feather="users"></span>
                                                    Participant <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/bm/report}">
                                                    <span data-feather="file-text"></span>
                                                    Report <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/el/Placement}">
                                                    <span data-feather="map-pin"></span>
                                                    Placement <span class="sr-only"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="#subEquipment" data-toggle="collapse">
                                        <span data-feather="key"></span>
                                        Equipment <span class="sr-only"></span>
                                    </a>
                                    <div id="subEquipment" class="collapse ">
                                        <ul class="nav-item">
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/el/Idcard}">
                                                    <span data-feather="user"></span>
                                                    Id Card <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/el/Employeeaccess}">
                                                    <span data-feather="smartphone"></span>
                                                    Employee Access Card <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/el/Employeelocker}">
                                                    <span data-feather="key"></span>
                                                    Employee Locker <span class="sr-only"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </div>
                            <div th:if="${session.isadmin!=null}">
                                <li class="nav-item">
                                    <a class="nav-link" href="#subAdmin"  data-toggle="collapse">
                                        <span data-feather="key"></span>
                                        Admin <span class="sr-only"></span>
                                    </a>
                                    <div id="subAdmin" class="collapse show">
                                        <ul class="nav-item">
                                            <li class="nav-item">
                                                <a class="nav-link active" th:href="@{#}">
                                                    <span data-feather="users"></span>
                                                    Employee Role <span class="sr-only">(current)</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/registration}">
                                                    <span data-feather="user-plus"></span>
                                                    Registration <span class="sr-only"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Employee Role</h1>
                    </div>

                    <!-- Content -->
                    <!--<h4>Employee Role</h4>-->

                    <div class="row" style="padding: 10px 0 10px 0;">
                        <div class="col-sm-6">
                            <button data-target="#modalAdd" data-toggle="modal" class="btn btn-warning">Add Data</button>
                        </div>
                    </div>

                    <!--Show table data-->
                    <table id="emproleTable" class="table table-bordered table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <!--<th>Employee ID</th>-->
                                <th>Employee Name</th>
                                <th>Role</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tblData">
                            <tr th:each="er : ${emproleData}">
                                <!--<td th:text="${er.employee.id}"></td>-->
                                <td th:text="${er.employee.name}"></td>
                                <td th:text="${er.role.name}"></td>
                                <td th:text="${er.startdate}"></td>
                                <td th:text="${er.enddate}"></td>
                                <td>
                                    <button data-target="#modalEdit" data-toggle="modal" th:data-getid="${er.id}"
                                            th:data-getname="${er.employee.name}" 
                                            th:data-getrole="${er.role.name}" 
                                            th:data-getstartdate="${er.startdate}" 
                                            th:data-getenddate="${er.enddate}"
                                            class="btn btn-outline-info" >
                                        Edit </button>
                                    <a th:href="@{/deleteEmpRole(emproleid=${er.id})}"><button value="" class="btn btn-danger">
                                            Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--ENDOF Show table data-->

                    <!--Modal add data-->
                    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modal-add" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-add">Add Role</h5>
                                    <button class="close" data-dismiss="modal" aria-label="close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/emprolesave}" method="post" >
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="name">Name</label>
<!--                                            <input id="s-id" name="s-id" class="form-control" type="text"/>-->
                                            <select name="ername" id="ername" class="form-control">
                                                <div th:each="data :${empData}">
                                                    <option th:value="${data.id}" th:text="${data.name}"></option>
                                                </div>
                                            </select>
                                            <label for="name">Role</label>
<!--                                            <input id="s-role" th:field="*{emprolesave.role}" class="form-control" type="text"/>-->
                                            <select name="errole" id="errole" class="form-control">
                                                <div th:each="data :${roleData}">
                                                    <option th:value="${data.id}" th:text="${data.name}"></option>
                                                </div>
                                            </select>
                                            <label for="name">Start Date</label>
<!--                                            <input id="s-startdate" th:field="*{emprolesave.startdate}" class="form-control" type="text"/>-->
                                            <input type="date" class="form-control" id="erstartdate" name="erstartdate" value=""/>
                                            <label for="name">End Date</label>
<!--                                            <input id="s-enddate" th:field="*{emprolesave.enddate}" class="form-control" type="text"/>-->
                                            <input type="date" class="form-control" id="erenddate" name="erenddate" value=""/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" value="Submit" class="btn btn-default">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--ENDOF Modal add data-->

                    <!--Modal edit data-->
                    <!--                    <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modal-add" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modal-add">Edit Role</h5>
                                                        <button class="close" data-dismiss="modal" aria-label="close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <form th:action="@{/emproleedit}" method="post" >
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <input hidden="" id="e-id" th:field="*{emproleedit.id}" class="form-control" type="text"/>
                                                                
                                                                <label for="name">Name</label>
                                                                <input id="s-name" th:field="*{emprolesave.name}" class="form-control" type="text"/>
                                                                <select name="e-name" id="e-name" th:field="*{emprolesave.employee.name}" class="form-control">
                                                                    <div th:each="data :${empData}">
                                                                        <option th:value="${data.id}" th:text="${data.name}"></option>
                                                                    </div>
                                                                </select>
                                                                <label for="name">Role</label>
                                                                <input id="s-role" th:field="*{emprolesave.role}" class="form-control" type="text"/>
                                                                <select name="e-role" id="e-role" th:field="*{emprolesave.role}" class="form-control">
                                                                    <div th:each="data :${roleData}">
                                                                        <option th:value="${data.id}" th:text="${data.name}"></option>
                                                                    </div>
                                                                </select>
                                                                <label for="name">Start Date</label>
                                                                <input id="s-startdate" th:field="*{emprolesave.startdate}" class="form-control" type="text"/>
                                                                <input type="date" class="form-control" id="e-startdate" name="e-startdate" th:field="*{emprolesave.startdate}" value=""/>
                                                                <label for="name">End Date</label>
                                                                <input id="s-enddate" th:field="*{emprolesave.enddate}" class="form-control" type="text"/>
                                                                <input type="date" class="form-control" id="e-enddate" name="e-enddate" th:field="*{emprolesave.enddate}" value=""/>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-default" value="Submit">Update</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>-->
                    <!--ENDOF Modal edit data-->

                    <!--Modal delete data-->
                    <!--                    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modal-add" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modal-add">Confirm Delete</h5>
                                                        <button class="close" data-dismiss="modal" aria-label="close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <form th:action="@{/emproledelete}" method="post" >
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="name">Are you sure!?</label>
                                                                
                                                            <input hidden="" id="d-id" th:field="*{emproledelete.id}" class="form-control" type="text"/>
                                                                <input hidden="" id="d-name" th:field="*{emproledelete.name}" class="form-control" type="text"/>
                                                                <input hidden="" id="d-role" th:field="*{emproledelete.role}" class="form-control" type="text"/>
                                                                <input hidden="" id="d-startdate" th:field="*{emproledelete.startdate}" class="form-control" type="text"/>
                                                                <input hidden="" id="d-enddate" th:field="*{emproledelete.enddate}" class="form-control" type="text"/>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                            <button type="submit" class="btn btn-danger" value="Submit">DELETE</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>-->
                    <!--ENDOF Modal delete data-->

                    <!-- /.End Content -->
                </main>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="dist/js/jquery-slim.min.js"><\/script>')</script>
        <script th:src="@{dist/js/popper.min.js}"></script>
        <script th:src="@{dist/js/bootstrap.min.js}"></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>

        <!--modal scripts letakkan SEBELUM /body-->
        <script>
            $('#modalEdit').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var id = button.data('getid'); // Extract info from data-* attributes
                var name = button.data('getname');
                var role = button.data('getrole');
                var startdate = button.data('getstartdate');
                var enddate = button.data('getenddate');
                var modal = $(this);
                modal.find('#e-id').val(id);
                modal.find('#e-name').val(name);
                modal.find('#e-role').val(role);
                modal.find('#e-startdate').val(startdate);
                modal.find('#e-enddate').val(enddate);
            });
        </script>

        <script>
            $('#modalDelete').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var id = button.data('getid'); // Extract info from data-* attributes
                var name = button.data('getname');
                var role = button.data('getrole');
                var startdate = button.data('getstartdate');
                var enddate = button.data('getenddate');
                var modal = $(this);
                modal.find('#d-id').val(id);
                modal.find('#d-name').val(name);
                modal.find('#d-role').val(role);
                modal.find('#d-startdate').val(startdate);
                modal.find('#d-enddate').val(enddate);
            });
        </script>
    </body>
</html>
