<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="icon" th:href="@{dist/img/favicons/favicon.ico}"/>

        <title>Dashboard Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{dist/css/bootstrap.min.css}" rel="stylesheet"/>
        <!--<link href="dist/css/bootstrap.min.css" rel="stylesheet">-->

        <!-- Custom styles for this template -->
        <link th:href="@{dist/css/dashboard.css}" rel="stylesheet"/>
    </head>

    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Bootcamp Management</a>
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/logout}">Sign out</a>
            </li>
        </nav>

        <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <main role="main">

                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom">
                        <h1 class="h2">Page no Found</h1>

                        <!--end of show regions table-->

                        <!-- /.End Content -->
                </main>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!--    <script>window.jQuery || document.write('<script th:src="@{dist/js/jquery-slim.min.js}"><\/script>')</script>-->
        <script th:src="@{dist/js/popper.min.js}"></script>
        <script th:src="@{dist/js/bootstrap.min.js}"></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

        <script>
            feather.replace();
        </script>
        <script>
            $(function () {
                $('.editModal').click(function ()
                {
                    var $row = $(this).closest("tr"), $tds = $row.find("td");
                    $('#id').val($row.find('td:eq(0)').text());
                    document.getElementById('rid').value = $row.find('td:eq(0)').text();
                    document.getElementById('rname').value = $row.find('td:eq(1)').text();
                });
            });
        </script>
        <script  type="text/javascript">
            function setEdit(id, name)
            {
                document.getElementById('rid').value = id;
                document.getElementById('rname').value = name;
            }
        </script>
    </body>
</html>
