<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!--Local css dan js semua pake th, @, dan {} dan / untuk single -->
        <link rel="icon" th:href="@{dist/img/favicons/favicon.ico}"/>

        <title>Dashboard Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{dist/css/bootstrap.min.css}" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link th:href="@{dist/css/dashboard.css}" rel="stylesheet"/>
    </head>

    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <span data-feather="home"></span>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/cv}">
                                    <span data-feather="home"></span>
                                    Edit CV <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/lihatcv}">
                                    <span data-feather="home"></span>
                                    Lihat CV <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="row">

                        <row>

                            <!--<h5 th:text="${/get-text}"></h5>-->
                            <div class="row">
                                <h3>Curriculum Vitae</h3>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-5">
                                    <table id="example" class="table table-borderless" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Data</th>
                                            </tr>

                                        </thead>
                                        <tbody id="tblData">
                                            <tr><td th:text="${employee.name}"></td></tr>
                                            <tr><td th:text="${employee.email}"></td></tr>
                                            <tr><td th:text="${employee.phone}"></td></tr>

                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-3">
                                </div>
                                <div class="col-md-2">
                                    <table id="example" class="table table-borderless" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                            </tr>

                                        </thead>
                                        <tbody id="tblData">
                                            <tr><td><div class="image">
                                                        <img class="image" th:src="@{/lihatFile}" alt="Siapa" width="100px" height="130px"/>
                                                    </div></td></tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-5">
                            <h5>Achievement</h5>
                            <table id="example" class="table table-hover" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                    </tr>

                                </thead>
                                <tbody id="tblData">
                                    <tr th:each="as,iter : ${achievementData}">
                                        <td th:text="${iter.count}"></td>
                                        <td th:text="${as.name}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--row table organization-->
                        <hr>
                        <div class="col-md-7">
                            <h5>Education</h5>
                            <table id="example" class="table tablehover" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>GPA</th>
                                        <th>University</th>
                                    </tr>
                                </thead>
                                <tbody id="tblData">
                                    <tr th:each="es,itera : ${education}">
                                        <td th:text="${itera.count}"></td>
                                        <td th:text="${es.gpa}"></td>
                                        <td th:text="${es.education.university.name}"></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <h5>Organization</h5>
                        <table id="example" class="table table-hover" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Tanggal</th>
                                </tr>
                            </thead>
                            <tbody id="tblData">
                                <tr th:each="os,tr : ${organizationData}">
                                    <td th:text="${tr.count}"></td>
                                    <td th:text="${os.name}"></td>
                                    <td th:text="${os.position}"></td>
                                    <td th:text="${os.period}"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="row">
                        <h5>Certificate</h5>
                        <table id="example" class="table table-hover" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Number</th>
                                    <th>Certificate</th>
                                </tr>
                            </thead>
                            <tbody id="tblData">
                                <tr th:each="cs,ite : ${certificateData}">
                                    <td th:text="${ite.count}"></td>
                                    <td th:text="${cs.certificateDate}"></td>
                                    <td th:text="${cs.certificateNumber}"></td>
                                    <td th:text="${cs.certificate.name}"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="row">
                        <h5>Language</h5>
                        <table id="emplangTable" class="table table-hover" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Employee</th>
                                    <th>Language</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody id="tblData">
                                <tr th:each="el, it : ${emplangData}">
                                    <td th:text="${it.count}"></td>
                                    <td th:text="${el.employee.name}"></td>
                                    <td th:text="${el.language.name}"></td>
                                    <td th:text="${el.score}"></td>
                                    
                                </tr>
                            </tbody>
                        </table>
                        <!--ENDOF Show table data-->
                    </div>


                </main>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
                ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!--<script>window.jQuery || document.write('<script src="dist/js/jquery-slim.min.js"><\/script>')</script>-->
        <script th:src="@{dist/js/popper.min.js}"></script>
        <script th:src="@{dist/js/bootstrap.min.js}"></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>

</html>
