<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!--Local css dan js semua pake th, @, dan {} dan / untuk single -->
        <link rel="icon" th:href="@{../dist/img/favicons/favicon.ico}"/>

        <title>MII Bootcamp Management</title>


        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!--Custom div for print purpose-->
        <script type="text/javascript">

            function PrintElem(elem)
            {
            Popup($(elem).html());
            }

            function Popup(data)
            {
            var mywindow = window.open('', 'my div', 'height=1024,width=768');
            mywindow.document.write('<html><head><title>Print CV</title>');
            /*optional stylesheet*/
            mywindow.document.write('<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css" />');
            mywindow.document.write('</head><body >');
            mywindow.document.write(data);
            mywindow.document.write('</body></html>');
            mywindow.print();
            mywindow.close();
            return true;
            }

        </script>
    </head>

    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h5>Print Report</h5>

                    <input type="button" value="Print" onclick="PrintElem('#printpage')" />

                    <!--<button type="button" class="button badge-info" onclick="printJS({ printable: 'printJS-form', type: 'html', header: 'PrintJS - Form Element Selection' })">  Print </button>-->

                </div>
            </div>
        </div>
        <div class="container" id="printpage">

            <div class="row">
                <div class="col-md-10">
                    <div class="panel-group">
                        <div class="panel-body">
                            <h1>Curriculum Vitae</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">Personal Information</div>
                            <div class="panel-body">
                                <table id="example" class="table table-borderless" style="width: 100%">
                                    <tbody id="tblData">
                                        <tr><td> <span class="glyphicon glyphicon-user"></span></td><td th:text="${employee.name}"></td></tr>
                                        <tr><td><span class="glyphicon glyphicon-calendar"></span></td><td th:text="${#dates.format(employee.birthdate,'dd-MMM-yyyy')}"></td></tr>
                                        <tr><td><span class="glyphicon glyphicon-home"></span></td><td th:text="${employee.address}"></td></tr>
                                        <tr><td><span class="glyphicon glyphicon-envelope"></span></td><td th:text="${employee.email}"></td></tr>
                                        <tr><td><span class="glyphicon glyphicon-earphone"></span></td><td th:text="${employee.phone}"></td></tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel-group">
                        <div class="panel panel-default">

                            <div class="panel-body" >


                                <div class="image">
                                    <img class="image" th:src="@{/lihatFile}" alt="[photo]" width="130px" height="160px"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="edupan">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">Education</div>
                            <div class="panel-body">
                                <table id="example" class="table tablehover" style="width: 100%">

                                    <tbody id="tblData">
                                        <tr th:each="es,itera : ${education}">
                                            <td th:text="${itera.count}"></td>
                                            <td th:text="${es.gpa}"></td>
                                            <td th:text="${es.education.degree.name}"></td>
                                            <td th:text="${es.education.major.name}"></td>
                                            <td th:text="${es.education.university.name}"></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="achpan">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">Achievement</div>
                            <div class="panel-body">
                                <table id="example" class="table table-hover" style="width: 100%">

                                    <tbody id="tblData">
                                        <tr th:each="as,iter : ${achievementData}">
                                            <td th:text="${iter.count}"></td>
                                            <td th:text="${as.name}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="orgpan">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">Organization</div>
                            <div class="panel-body">
                                <table id="example" class="table table-hover" style="width: 100%">

                                    <tbody id="tblData">
                                        <tr th:each="os,tr : ${organizationData}">
                                            <td th:text="${tr.count}"></td>
                                            <td th:text="${os.name}"></td>
                                            <td th:text="${os.position}"></td>
                                            <td th:text="${#dates.format(os.period,'yyyy')}"></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" id="skillpan">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">Technical Qualification</div>
                            <div class="panel-body">
                                <table id="example" class="table table-hover" style="width: 100%">

                                    <tbody id="tblData">
                                        <tr th:each="esk,itrs : ${skillData}">
                                            <td th:text="${itrs.count}"></td>
                                            <td th:text="${esk.skill.name}"></td>
                                            <td th:text="${esk.score}"></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="langpan">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">Language</div>
                            <div class="panel-body">
                                <table id="emplangTable" class="table table-hover" style="width: 100%">

                                    <tbody id="tblData">
                                        <tr th:each="el,it : ${languageData}">
                                            <td th:text="${it.count}"></td>
                                            <td th:text="${el.language.name}"></td>
                                            <td th:text="${el.score}"></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="certpan">
                <div class="col-md-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">Training / Certification</div>
                            <div class="panel-body">
                                <table id="example" class="table table-hover" style="width: 100%">

                                    <tbody id="tblDatacert">
                                        <tr th:each="cs,ite : ${certificateData}">
                                            <td th:text="${ite.count}"></td>
                                            <td th:text="${#dates.format(cs.certificateDate,'dd-MMM-yyyy')}"></td>
                                            <td th:text="${cs.certificateNumber}"></td>
                                            <td th:text="${cs.certificate.name}"></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="workpan">
                <div class="col-md-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">Work Experience</div>
                            <div class="panel-body">
                                <table id="example" class="table table-hover" style="width: 100%">

                                    <tbody id="tblDatawork">
                                        <tr th:each="we,itrw : ${workexperienceData}">
                                            <td th:text="${itrw.count}"></td>
                                            <td th:text="${we.name}"></td>
                                            <td th:text="${we.position}"></td>
                                            <td th:text="${we.description}"></td>
                                            <td th:text="${#dates.format(we.startdate,'dd-MMM-yyyy')}"></td>
                                            <td th:text="${#dates.format(we.enddate,'dd-MMM-yyyy')}"></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- Bootstrap core JavaScript
            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--<script>window.jQuery || document.write('<script src="dist/js/jquery-slim.min.js"><\/script>')</script>-->
    <script th:src="@{dist/js/popper.min.js}"></script>
    <script th:src="@{dist/js/bootstrap.min.js}"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
                        feather.replace()
    </script>
    <!--PrintJS-->
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <!--<script src="https://printjs-4de6.kxcdn.com/print.min.css"></script>-->
    <script th:inline="javascript">
                        $(document).ready(function () {
                        var value = [[${workexperienceData}]];
                        if (value != null) {
                        $("#workpan").hide();
                        }
                        });
    </script>
    <script>
       
        $(document).ready(function () {
        var value2 = [[${certificateData}]];
        if (value2 != null) {
        $("#certpan").hide();
        }
        });
        
    </script>

    
    <script>
       
        $(document).ready(function () {
        var value3 = [[${organizationData}]];
        if (value3 != null) {
        $("#orgpan").hide();
        }
        });
        
    </script>
    
    
    <script>
       
        $(document).ready(function () {
        var value4 = [[${education}]];
        if (value4 != null) {
        $("#edupan").hide();
        }
        });
        
    </script>
    
    <script>
       
        $(document).ready(function () {
        var value5 = [[${languageData}]];
        if (value5 != null) {
        $("#langpan").hide();
        }
        });
        
    </script>
        
    <script>
       
        $(document).ready(function () {
        var value6 = [[${achievementData}]];
        if (value6 != null) {
        $("#achpan").hide();
        }
        });
        
    </script>
    
    <script>
       
        $(document).ready(function () {
        var value7 = [[${skillData}]];
        if (value7 != null) {
        $("#skillpan").hide();
        }
        });
        
    </script>    
        
</html>
