<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!--Local css dan js semua pake th, @, dan {} dan / untuk single -->
        <link rel="icon" th:href="@{../dist/img/favicons/favicon.ico}"/>

        <title>MII Bootcamp Management</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{../dist/css/bootstrap.min.css}" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link th:href="@{../dist/css/dashboard.css}" rel="stylesheet"/>
    </head>

    <body>

        <div class="container">
            <div class="row">

                <row>

                    <!--<h5 th:text="${/get-text}"></h5>-->
                    <div class="row">
                        <h3>Curriculum Vitae</h3>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-5">
                            <table id="example" class="table table-borderless" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                    </tr>

                                </thead>
                                <tbody id="tblData">
                                <i class="fa fa-save"><tr><td th:text="${employee.name}"></td></tr></i>
                                <tr><td th:text="${employee.email}"></td></tr>
                                <tr><td th:text="${employee.phone}"></td></tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-3">
                        </div>
                        <div class="col-md-2">
                            <table id="example" class="table table-borderless" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>

                                </thead>
                                <tbody id="tblData">
                                    <tr><td class="align-content-md-end"><div class="image">
                                                <img class="image" th:src="@{/lihatFile}" alt="[photo]" width="100px" height="130px"/>
                                            </div></td></tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-5">
                    <h5>Achievement</h5>
                    <table id="example" class="table table-hover" style="width: 100%">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                            </tr>

                        </thead>
                        <tbody id="tblData">
                            <tr th:each="as,iter : ${achievementData}">
                                <td th:text="${iter.count}"></td>
                                <td th:text="${as.name}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--row table organization-->
                <hr>
                <div class="col-md-7">
                    <h5>Education</h5>
                    <table id="example" class="table tablehover" style="width: 100%">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>GPA</th>
                                <th>Degree</th>
                                <th>Major</th>
                                <th>University</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tblData">
                            <tr th:each="es,itera : ${educationData}">
                                <td th:text="${itera.count}"></td>
                                <td th:text="${es.gpa}"></td>
                                <td th:text="${es.education.degree.name}"></td>
                                <td th:text="${es.education.major.name}"></td>
                                <td th:text="${es.education.university.name}"></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <h5>Organization</h5>
                <table id="example" class="table table-hover" style="width: 100%">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Period</th>
                        </tr>
                    </thead>
                    <tbody id="tblData">
                        <tr th:each="os,tr : ${organizationData}">
                            <td th:text="${tr.count}"></td>
                            <td th:text="${os.name}"></td>
                            <td th:text="${os.position}"></td>
                            <td th:text="${#dates.format(os.period,'yyyy')}"></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="row">
                <h5>Certificate</h5>
                <table id="example" class="table table-hover" style="width: 100%">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Date</th>
                            <th>Certificate Number</th>
                            <th>Certificate Name</th>
                        </tr>
                    </thead>
                    <tbody id="tblData">
                        <tr th:each="cs,ite : ${certificateData}">
                            <td th:text="${ite.count}"></td>
                            <td th:text="${#dates.format(cs.certificateDate,'dd-MMM-yyyy')}"></td>
                            <td th:text="${cs.certificateNumber}"></td>
                            <td th:text="${cs.certificate.name}"></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="row">
                <h5>Language</h5>
                <table id="emplangTable" class="table table-hover" style="width: 100%">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Language</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody id="tblData">
                        <tr th:each="el,it : ${languageData}">
                            <td th:text="${it.count}"></td>
                            <td th:text="${el.language.name}"></td>
                            <td th:text="${el.score}"></td>

                        </tr>
                    </tbody>
                </table>
                <!--ENDOF Show table data-->
            </div>
            <hr>
            <div class="row">
                <h5>Skill</h5>
                <table id="example" class="table table-hover" style="width: 100%">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Skill</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody id="tblData">
                        <tr th:each="esk,itrs : ${skillData}">
                            <td th:text="${itrs.count}"></td>
                            <td th:text="${esk.skill.name}"></td>
                            <td th:text="${esk.score}"></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="row">
                <h5>Work Experience</h5>
                <table id="example" class="table table-hover" style="width: 100%">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Company</th>
                            <th>Position</th>
                            <th>Description</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody id="tblData">
                        <tr th:each="we,itrw : ${workexperienceData}">
                            <td th:text="${itrw.count}"></td>
                            <td th:text="${we.name}"></td>
                            <td th:text="${we.position}"></td>
                            <td th:text="${we.description}"></td>
                            <td th:text="${we.startdate}"></td>
                            <td th:text="${we.enddate}"></td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <!-- Bootstrap core JavaScript
                ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!--<script>window.jQuery || document.write('<script src="dist/js/jquery-slim.min.js"><\/script>')</script>-->
        <script th:src="@{dist/js/popper.min.js}"></script>
        <script th:src="@{dist/js/bootstrap.min.js}"></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>

</html>
