<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!--Local css dan js semua pake th, @, dan {} dan / untuk single -->
        <link rel="icon" th:href="@{../dist/img/favicons/favicon.ico}"/>

        <title>MII Bootcamp Management</title>

        <!--JQuery-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <!-- Bootstrap core CSS -->
        <link th:href="@{../dist/css/bootstrap.min.css}" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link th:href="@{../dist/css/dashboard.css}" rel="stylesheet"/>

        <!--Datatable-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.10.18/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.10.18/datatables.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/dashboard}">Bootcamp Management</a>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" th:href="@{/logout}">Sign out</a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#subCv" data-toggle="collapse">
                                    <span data-feather="file-text"></span>
                                    CV <span class="sr-only"></span>
                                </a>
                                <div id="subCv" class="collapse">
                                    <ul class="nav-nav">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/cv/cv}">
                                                <span data-feather="edit"></span>
                                                Edit CV <span class="sr-only"></span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/cv/lihatcv}">
                                                <span data-feather="file-text"></span>
                                                View CV <span class="sr-only"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <div th:if="${session.istrainer!=null}">
                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="#subTrainer" data-toggle="collapse">
                                        <span data-feather="user"></span>
                                        Trainer <span class="sr-only"></span>
                                    </a>
                                    <div id="subTrainer" class="collapse ">
                                        <ul class="nav-item">
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/bm/batchclass}">
                                                    <span data-feather="grid"></span>
                                                    Batch Class <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/bm/errorbank}">
                                                    <span data-feather="clipboard"></span>
                                                    ErrorBank <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/bm/evaluation}">
                                                    <span data-feather="check-square"></span>
                                                    Evaluation <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/bm/participant}">
                                                    <span data-feather="users"></span>
                                                    Participant <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/bm/report}">
                                                    <span data-feather="file-text"></span>
                                                    Report <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/el/Placement}">
                                                    <span data-feather="map-pin"></span>
                                                    Placement <span class="sr-only"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#subEquipment" data-toggle="collapse">
                                        <span data-feather="key"></span>
                                        Equipment <span class="sr-only"></span>
                                    </a>
                                    <div id="subEquipment" class="collapse show">
                                        <ul class="nav-item">
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/el/Idcard}">
                                                    <span data-feather="user"></span>
                                                    Id Card <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/el/Employeeaccess}">
                                                    <span data-feather="smartphone"></span>
                                                    Employee Access Card <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" th:href="@{#}">
                                                    <span data-feather="key"></span>
                                                    Employee Locker <span class="sr-only">(current)</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </div>
                            <div th:if="${session.isadmin!=null}">
                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="#subAdmin"  data-toggle="collapse">
                                        <span data-feather="key"></span>
                                        Admin <span class="sr-only"></span>
                                    </a>
                                    <div id="subAdmin" class="collapse ">
                                        <ul class="nav-item">
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/employeerole}">
                                                    <span data-feather="users"></span>
                                                    Employee Role <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/registration}">
                                                    <span data-feather="user-plus"></span>
                                                    Registration <span class="sr-only"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <row>
                        <h3>Employee Locker</h3>
                        <div class="row" style="padding: 10px 0 10px 0">
                            <div class="col-sm-6">
                                <button data-target="#mdlAdd" data-toggle="modal" class="btn btn-default">Add Data</button>
                            </div>
                        </div>
                        <table id="employeelockerTable" class="table table-bordered table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Receive Date</th>
                                    <th>Return Date</th>
                                    <th>Note</th>
                                    <th>Locker</th>
                                    <th>Employee</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tblData">
                                <tr th:each="eld,ih : ${emplockerData}">
                                    <td th:text="${ih.count}"></td>
                                    <td th:text="${eld.receivedate}"></td>
                                    <td th:text="${eld.returndate}"></td>
                                    <td th:text="${eld.notes}"></td>
                                    <td th:text="${eld.locker.lockernumber}"</td>
                                    <td th:text="${eld.employee.name}"></td>
                                    <td>
                                        <button data-target="#mdlEdit" data-toggle="modal" th:data-getid="${eld.id}" 
                                                th:data-getreceivedate="${eld.receivedate}"
                                                th:data-getreturndate="${eld.returndate}" 
                                                th:data-getnote="${eld.notes}" 
                                                th:data-getlocker="${eld.locker.id}" 
                                                th:data-getemployee="${eld.employee.id}" class="btn btn-warning">Edit</button>
                                        <a th:href="@{/el/emplockerDelete(empid=${eld.id})}"><button value="" class="btn btn-danger">Delete</button></a>
                                        <!--                                        <button data-target="#mdlDelete" data-toggle="modal" th:data-getid="${eld.id}" 
                                                                                        th:data-getreceivedate="${eld.receivedate}"
                                                                                        th:data-getreturndate="${eld.returndate}" 
                                                                                        th:data-getnote="${eld.notes}" 
                                                                                        th:data-getlocker="${eld.locker.id}" 
                                                                                        th:data-getemployee="${eld.employee.name}" class="btn btn-danger">Delete</button>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </row>


                    <!--modal add data-->
                    <div class="modal fade" id="mdlAdd" tabindex="-1" role="dialog" aria-labelledby="modal-add" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-add">Add Employee Locker</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/el/emplockerSave}" method="post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="receive">Receive Date</label>
                                            <input id="receivedate" name="receivedate" class="form-control" type="date"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="returndate">Return Date</label>
                                            <input id="returndate" name="returndate" class="form-control" type="date"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="notes">Note</label>
                                            <input id="notes" name="notes" class="form-control" type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="locker">Locker</label>
                                            <select name="locker" id="locker" class="form-control">
                                                <div th:each="dl :${datalock}">
                                                    <option th:value="${dl.id}" th:text="${dl.lockernumber}"></option>
                                                </div>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="employee">Employee</label>
                                            <select name="employee" id="employee" class="form-control">
                                                <div th:each="epl :${empl}">
                                                    <option th:value="${epl.id}" th:text="${epl.name}"></option>
                                                </div>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-default" value="Submit">Save</button>
                                    </div>                          
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--Modal Edit Data-->
                    <div class="modal fade" id="mdlEdit" tabindex="-1" role="dialog" aria-labelledby="modal-add" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-add">Add Employee Locker</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/el/emplockerEdit}" method="post">
                                    <div class="modal-body">
                                        <input id="id" name="id" class="form-control" type="hidden"/>
                                        <div class="form-group">
                                            <label for="receive">Receive Date</label>
                                            <input id="receivedate" name="receivedate" class="form-control" type="date"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="returndate">Return Date</label>
                                            <input id="returndate" name="returndate" class="form-control" type="date"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="notes">Note</label>
                                            <input id="notes" name="notes" class="form-control" type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="locker">Locker</label>
                                            <select name="locker" id="locker" class="form-control">
                                                <div th:each="dl :${datalock}">
                                                    <option th:value="${dl.id}" th:text="${dl.lockernumber}"></option>
                                                </div>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="employee">Employee</label>
                                            <select name="employee" id="employee" class="form-control">
                                                <div th:each="epl :${empl}">
                                                    <option th:value="${epl.id}" th:text="${epl.name}"></option>
                                                </div>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-default" value="Submit">Save</button>
                                    </div>                          
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--End Modal Edit Data-->

                    <!-- /.End Content -->
                </main>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
                ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <!--<script>window.jQuery || document.write('<script src="dist/js/jquery-slim.min.js"><\/script>')</script>-->
        <script th:src="@{../dist/js/popper.min.js}"></script>
        <script th:src="@{../dist/js/bootstrap.min.js}"></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>
        <script>
            $('#mdlEdit').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('getid');
                var receivedate = button.data('getreceivedate');
                var returndate = button.data('getreturndate');
                var notes = button.data('getnote');
                var locker = button.data('getlocker');
                var employee = button.data('getemployee');

                var modal = $(this);
                modal.find('#id').val(id);
                modal.find('#receivedate').val(receivedate);
                modal.find('#returndate').val(returndate);
                modal.find('#notes').val(notes);
                modal.find('#locker').val(locker);
                modal.find('#employee').val(employee);

            });
        </script>

        <script>
            $(document).ready(function () {
                $('#employeelockerTable').DataTable();
            });
        </script>
    </body>
</html>
