<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="icon" th:href="@{../dist/img/favicons/favicon.ico}"/>

        <title>MII Bootcamp Management</title>

        <!--JQuery-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <!-- Bootstrap core CSS -->
        <link th:href="@{../dist/css/bootstrap.min.css}" rel="stylesheet"/>
        <!--<link href="dist/css/bootstrap.min.css" rel="stylesheet">-->

        <!-- Custom styles for this template -->
        <link th:href="@{../dist/css/dashboard.css}" rel="stylesheet"/>

        <!--Datatable-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.10.18/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.10.18/datatables.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/dashboard}">Bootcamp Management</a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" th:href="@{/logout}">Sign out</a>
                </li>
            </ul>
        </nav>
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="container-fluid">
                <div class="row">
                    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                        <div class="sidebar-sticky">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="#subCv" data-toggle="collapse">
                                        <span data-feather="file-text"></span>
                                        CV <span class="sr-only"></span>
                                    </a>
                                    <div id="subCv" class="collapse">
                                        <ul class="nav-nav">
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/cv/cv}">
                                                    <span data-feather="edit"></span>
                                                    Edit CV <span class="sr-only"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/cv/mycv}" target="_blank">
                                                    <span data-feather="file-text"></span>
                                                    View CV <span class="sr-only"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <div th:if="${session.istrainer!=null}">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#subTrainer" data-toggle="collapse">
                                            <span data-feather="user"></span>
                                            Trainer <span class="sr-only"></span>
                                        </a>
                                        <div id="subTrainer" class="collapse show">
                                            <ul class="nav-item">
                                                <li class="nav-item">
                                                    <a class="nav-link active" th:href="@{#}">
                                                        <span data-feather="grid"></span>
                                                        Batch Class <span class="sr-only">(current)</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" th:href="@{/bm/evaluation}">
                                                        <span data-feather="check-square"></span>
                                                        Evaluation <span class="sr-only"></span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" th:href="@{/bm/participant}">
                                                        <span data-feather="users"></span>
                                                        Participant <span class="sr-only"></span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" th:href="@{/bm/report}">
                                                        <span data-feather="file-text"></span>
                                                        Report <span class="sr-only"></span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" th:href="@{/el/Placement}">
                                                        <span data-feather="map-pin"></span>
                                                        Placement <span class="sr-only"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link collapsed" href="#subEquipment" data-toggle="collapse">
                                            <span data-feather="key"></span>
                                            Equipment <span class="sr-only"></span>
                                        </a>
                                        <div id="subEquipment" class="collapse ">
                                            <ul class="nav-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" th:href="@{/el/Idcard}">
                                                        <span data-feather="user"></span>
                                                        Id Card <span class="sr-only"></span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" th:href="@{/el/Employeeaccess}">
                                                        <span data-feather="smartphone"></span>
                                                        Employee Access Card <span class="sr-only"></span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" th:href="@{/el/Employeelocker}">
                                                        <span data-feather="key"></span>
                                                        Employee Locker <span class="sr-only"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </div>
                                <div th:if="${session.isadmin!=null}">
                                    <li class="nav-item">
                                        <a class="nav-link collapsed" href="#subAdmin"  data-toggle="collapse">
                                            <span data-feather="key"></span>
                                            Admin <span class="sr-only"></span>
                                        </a>
                                        <div id="subAdmin" class="collapse ">
                                            <ul class="nav-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" th:href="@{/employeerole}">
                                                        <span data-feather="users"></span>
                                                        Employee Role <span class="sr-only"></span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" th:href="@{/registration}">
                                                        <span data-feather="user-plus"></span>
                                                        Registration <span class="sr-only"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </div>
                                <div th:if="${session.isparticipant!=null||session.istrainer!=null}">
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/bm/errorbank}">
                                            <span data-feather="clipboard"></span>
                                            ErrorBank <span class="sr-only"></span>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </nav>
                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                        <h1>Batch Class</h1>
                        <!--show table-->
                        <p>
                            <a class="btn btn-info" data-target="#modalForm" data-toggle="modal">
                                Add Data
                            </a>
                        </p>
<!--                        <div class="row" style="padding: 10px 0 10px 0">
                            <div class="col-md-2">
                                <label> Batch  </label>
                                <select name="selBatch" id="selBatch">
                                    <option value=""></option>
                                    <div th:each="data :${dataBatch}">
                                        <option th:value="${data.id}" th:text="${data.id}"></option>
                                    </div>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label> Class  </label>
                                <select name="selClasses" id="selClasses">
                                    <option value=""></option>
                                    <div th:each="data :${dataClasses}">
                                        <option th:value="${data.id}" th:text="${data.id}"></option>
                                    </div>
                                </select>
                            </div>
                        </div>-->

                        <table class="table table-striped" id="batchclassTable" cellspacing='30' align ='center' border="1">
                            <thead class="active">
                                <tr>
                                    <th>No</th>
                                    <th>Batch Class</th>
                                    <th>Period</th>
                                    <th>Trainer</th>
                                    <th>Room</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="data,r :${dataBatchclass}">
                                    <td th:text="${r.count}"></td>
                                    <td th:text="${data.batch.id+' '+data.classes.id}"></td>
                                    <td th:text="${#dates.format(data.batch.startdate,'MMMM')+'-'+#dates.format(data.batch.enddate,'MMMM')}"></td>
                                    <td th:text="${data.trainer.id+'-'+data.trainer.name}"></td>
                                    <td th:text="${data.room.name}"></td>
                                    <td>
                                        <button class="btn btn-warning editModal" data-toggle="modal" data-target="#modalForm" 
                                                th:data-getid="${data.id}" th:data-gettrainer="${data.trainer.id}" 
                                                th:data-getbatch="${data.batch.id}" th:data-getclasses="${data.classes.id}" 
                                                th:data-getroom="${data.room.id}" 
                                                ><span data-feather="edit"></span></button>
                                        <a class="btn btn-danger" th:href="@{/bm/deleteBatchclass/{id}(id=${data.id})}"><span data-feather="trash"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--end of show table-->
                        <!--show save form modal-->
                        <form action="/bm/saveBatchclass" method="POST">
                            <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                                <span aria-hidden="true">
                                                    &times;
                                                </span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" id="idBatchclass" name="idBatchclass" value=""/>
                                            <label data-error="wrong" data-success="true">Batch</label>
                                            <select name="idBatch" id="idBatch" class="form-control" required>
                                                <div th:each="data :${dataBatch}">
                                                    <option th:value="${data.id}" th:text="${data.id+' ('+#dates.format(data.startdate,'MMMM')+'-'+#dates.format(data.enddate,'MMMM')+')'}"></option>
                                                </div>
                                            </select>
                                            <label data-error="wrong" data-success="true">Class</label>
                                            <select name="idClasses" id="idClasses" class="form-control" required>
                                                <div th:each="data :${dataClasses}">
                                                    <option th:value="${data.id}" th:text="${data.id}"></option>
                                                </div>
                                            </select>
                                            <label data-error="wrong" data-success="true">Trainer</label>
                                            <select name="idTrainer" id="idTrainer" class="form-control" required>
                                                <div th:each="data :${dataTrainer}">
                                                    <option th:value="${data.id}" th:text="${data.name}"></option>
                                                </div>
                                            </select>
                                            <label data-error="wrong" data-success="true">Room</label>
                                            <select name="idRoom" id="idRoom" class="form-control" required>
                                                <div th:each="data :${dataRoom}">
                                                    <option th:value="${data.id}" th:text="${data.name}"></option>
                                                </div>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" class="btn btn-success" value="Save" name="save"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--end of show save form modal-->
                    </main>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <!--    <script>window.jQuery || document.write('<script th:src="@{dist/js/jquery-slim.min.js}"><\/script>')</script>-->
        <script th:src="@{../dist/js/popper.min.js}"></script>
        <script th:src="@{../dist/js/bootstrap.min.js}"></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

        <script>
            feather.replace();
        </script>
        <script>
            $('#modalForm').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var idBatchclass = button.data('getid');
                var idTrainer = button.data('gettrainer');
                var idBatch = button.data('getbatch');
                var idClasses = button.data('getclasses');
                var idRoom = button.data('getroom');
                var modal = $(this);
                modal.find('#idBatchclass').val(idBatchclass);
                modal.find('#idTrainer').val(idTrainer);
                modal.find('#idBatch').val(idBatch);
                modal.find('#idClasses').val(idClasses);
                modal.find('#idRoom').val(idRoom);
            });
        </script>
        <script  type="text/javascript">
            function setEdit(id, name)
            {
                document.getElementById('rid').value = id;
                document.getElementById('rname').value = name;
            }
        </script>

        <!--Datatable function-->
        <script>
            $(document).ready(function () {
                /* Initialise the DataTable */
                var oTable = $('#batchclassTable').dataTable({
                    "oLanguage": {
                        "sSearch": "Search all columns:"
                    },
                    "iDisplayLength": 10,
                    "bJQueryUI": true,
                    "sPaginationType": "full_numbers",
                    "bFilter": true,
                });

                /* Add a select menu for each TH element in the table footer */
                $('#selBatch').on('change', function () {
                    var selectedValue = $(this).val();
                    oTable.fnFilter(selectedValue, 1, false); //Exact value, column, reg
                });

                $('#selClasses').on('change', function () {
                    var selectedValue = $(this).val();
                    oTable.fnFilter(selectedValue, 2, false); //Exact value, column, reg
                });
            });
        </script>
    </body>
</html>
