<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="icon" th:href="@{../dist/img/favicons/favicon.ico}"/>

        <title>Dashboard Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{../dist/css/bootstrap.min.css}" rel="stylesheet"/>
        <!--<link href="dist/css/bootstrap.min.css" rel="stylesheet">-->

        <!-- Custom styles for this template -->
        <link th:href="@{../dist/css/dashboard.css}" rel="stylesheet"/>
    </head>
    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Bootcamp Management</a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" th:href="@{/logout}">Sign out</a>
                </li>
            </ul>
        </nav>
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="container-fluid">
                <div class="row">
                    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                        <div class="sidebar-sticky">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/dashboard}">
                                        <span data-feather="linkedin"></span>
                                        Dashboard <span class="sr-only"></span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/bm/batchclass}">
                                        <span data-feather="tag"></span>
                                        Batch Class <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" th:href="@{#}">
                                        <span data-feather="mic"></span>
                                        ErrorBank <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/evaluation}">
                                        <span data-feather="code"></span>
                                        Evaluation <span class="sr-only"></span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/participant}">
                                        <span data-feather="linkedin"></span>
                                        Participant <span class="sr-only"></span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/report}">
                                        <span data-feather="linkedin"></span>
                                        Report <span class="sr-only"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                        <h1>Error Bank</h1>
                        <!--show table-->
                        <p>
                            <a class="btn btn-success" data-target="#modalForm" data-toggle="modal">
                                Insert Data
                            </a>
                        </p>
                        <table class="table table-striped" id="participantTable" cellspacing='30' align ='center' border="1">
                            <thead class="active">
                                <tr>
                                    <th>Description</th>
                                    <th>Solution</th>
                                    <th>Class</th>
                                    <th>Submit Date</th>
                                    <th>Submiter</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="data :${dataErrorbank}">
                                    <td th:text="${data.description}"></td>
                                    <td th:text="${data.solution}"></td>
                                    <td th:text="${data.classes.id}"></td>
                                    <td th:text="${data.submitdate}"></td>
                                    <td th:text="${data.employee.id}"></td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalForm" 
                                                th:data-getid="${data.id}" th:data-getdescription="${data.description}" 
                                                th:data-getsolution="${data.solution}" th:data-getclasses="${data.classes.id}" 
                                                th:data-getsubmitdate="${data.submitdate}" th:data-getemployee="${data.employee.id}" 
                                                >Edit</button>
                                        <a class="btn btn-danger" th:href="@{/bm/deleteErrorbank/{id}(id=${data.id})}">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--end of show table-->
                        <!--show save form modal-->
                        <form action="/bm/saveErrorbank" method="POST">
                            <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                                <span aria-hidden="true">
                                                    &times;
                                                </span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" id="errorbankId" name="errorbankId" value=""/>
                                            <input type="hidden" id="errorbankSubmiter" name="errorbankSubmiter" value=""/>
                                            <label data-error="wrong" data-success="true">Class</label>
                                            <select name="errorbankClassesId" id="errorbankClassesId" class="form-control">
                                                <div th:each="data :${dataClasses}">
                                                    <option th:value="${data.id}" th:text="${data.id}"></option>
                                                </div>
                                            </select>
                                            <label data-error="wrong" data-success="true">Submit Date</label>
                                            <input class="form-control" type="date" name="errorbankSubmitdate" id="errorbankSubmitdate"/>
                                            <label data-error="wrong" data-success="true">Description</label>
                                            <textarea class="form-control" id="errorbankDescription" name="errorbankDescription"></textarea>
                                            <label data-error="wrong" data-success="true">Solution</label>
                                            <textarea class="form-control" id="errorbankSolution" name="errorbankSolution"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" class="btn btn-success" value="Save" name="save"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--end of show save form modal-->
                    </main>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!--    <script>window.jQuery || document.write('<script th:src="@{dist/js/jquery-slim.min.js}"><\/script>')</script>-->
        <script th:src="@{../dist/js/popper.min.js}"></script>
        <script th:src="@{../dist/js/bootstrap.min.js}"></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

        <script>
                                                    feather.replace();
        </script>
        <script>
            $('#modalForm').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var errorbankId = button.data('getid');
                var errorbankDescription = button.data('getdescription');
                var errorbankSolution = button.data('getsolution');
                var errorbankClassesId = button.data('getclasses');
                var errorbankSubmitdate = button.data('getsubmitdate');
                var errorbankSubmiter = button.data('getemployee');
                var modal = $(this);
                modal.find('#errorbankId').val(errorbankId);
                modal.find('#errorbankDescription').val(errorbankDescription);
                modal.find('#errorbankSolution').val(errorbankSolution);
                modal.find('#errorbankClassesId').val(errorbankClassesId);
                modal.find('#errorbankSubmitdate').val(errorbankSubmitdate);
                modal.find('#errorbankSubmiter').val(errorbankSubmiter);
            });
        </script>
        <script  type="text/javascript">
            function setEdit(id, name)
            {
                document.getElementById('rid').value = id;
                document.getElementById('rname').value = name;
            }
        </script>
    </body>
</html>
